.project-page {
  .project-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @media (min-width: 1024px) {
      flex-direction: row;
      padding: 10px 20px;
    }
    .project-header {
      width: 100%;
      padding: 0 20px .75rem ;
      @media (min-width: 1024px) {
        padding: 1rem 0;
      }
      h2 {
        font-size: 1em;
        font-weight: normal;
      }
    }
    .project-description,
    .project-details {
      padding: 10px 20px;
      width: 100%;
      @media (min-width: 1024px) {
        width: 50%;
        padding: 0;
      }
      .details-section {
        h3 {
          font-size: 1em;
          font-weight: normal;
        }
        ul.links {
          margin: 0;
          padding: 0 0 1em 0;
          li {
            list-style: none;
            &:before {
              content: '\200B';
            }
          }
        }
      }
    }
    .project-description {
      padding-bottom: 25px;
    }
    @media (min-width: 1024px) {
      .project-description {
        padding-right: 30px;
        padding-bottom: 0;
      }
      .project-details {
        padding-left: 30px;
      }
    }
  }
  ul.assets {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
      flex-direction: row;
      padding: 10px 20px;
    }
    li.project-asset {
      padding-bottom: 30px;
      width: 100%;
      list-style: none;

      img {
        display: block;
      }

      @media (min-width: 1024px) {
        width: 50%;
        &:nth-of-type(odd) {
          padding-right: 15px;
        }
        &:nth-of-type(even) {
          padding-left: 15px;
        }
      }
    }
  }
}
