.portfolio-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    z-index: 1;
    font-size: 1em;
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding: 10px 20px;
      font-size: 2em;
      height: 65px;
    }

}
