.contact-page {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  .title {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .contact-details,
  .contact-bio,
  .contact-press-ed {
    width: 100%;
    aside {
      padding-bottom: 1rem;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .title {
      padding-bottom: .125rem;
      font-weight: normal;
    }
  }
  .work {
    li {
      .year {
        padding-right: 25px;
        display: inline;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  p {
    padding-bottom: .5rem;
    line-height: 1.25;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    .contact-details,
    .contact-bio,
    .contact-press-ed {
      padding-right: 25px;
    }
    .contact-details {
      width: 20vw;
    }
    .contact-bio {
      width: 50vw;
    }
    .contact-press-ed {
      width: 25vw;
    }
  }
}
